/* This is my css for leaderboard */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&display=swap');

/* top players style  */

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.player {
    display: flex;
    align-items: center;
}

.player img {
    width: 56px;
    height: 56px;
}